<form id="categoryform" action="/updatecategory" method="post">
    <div class="container">
        <input type="hidden" name="id" value="<%=item.id%>" />
        <div class="row">
            <div class="col-md-12 heading"> Edit Category (<strong>
                    <%=item.name%>
                </strong>)</div>
        </div>

        <div class="row form-group">
            <div class="col-md-3"><label for="name"> <span class="req mr-1">*</span>Category Name </label>
            </div>
            <div class="col-md-9">
                <input type="text" name="name" id="name" class="form-control" value="<%=item.name%>" required
                    oninput="changehead(event);" maxlength="30" />
                <span class="req" id="err_name"></span>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3"><label for="desc"><span class="req mr-1">*</span>Description</label>
            </div>
            <div class="col-md-9">
                <input type="text" name="desc" id="desc" class="form-control" required value="<%=item.desc%>" />
                <span class="req" id="err_gender"></span>
            </div>
        </div>
        <div class="row">
            <button type="submit" class="btn btn-primary m-1">Update</button>
            <button type="button" class="btn btn-secondary m-1"><a style="text-decoration: none;color:white"
                    href="/viewcategory">Back To Category List</a></button>
        </div>
    </div>
</form>
<script>
    // let category = document.querySelector('#category');
    // category.value = '<%-item.category%>';
    // let specification = document.querySelector('#specification');
    // specification.value = '<%-item.specification%>';

    function changehead(e) {
        $(".heading").html(`Edit Product (<strong>${e.target.value}</strong>)`)
    }
</script>